html {
  font-size: 62.5%;
}

body {
  font-size: 1.4em;
  margin: 0;
  padding: 1em;
}

p {
  margin: .5em 0;
}

h3 {
  margin: .5em 0 .25em 0;
}

h4 {
  margin: .5em 0;
}

button {
  margin: 0;
}

label {
  display: inline-block;
  margin: 0;
}

.task-list label {
  display: inline-block;
}

.project-container {
  margin-top: 1em;
}

.project-maintenance {
  position: absolute;
  right: 0.2em;
  width: 6em;
}

.project-tools {
  margin: 0 0 0 .3em;
  font-size: 0.85em;
}

.project-title, .project-maintenance {
  display: inline-block;
}

.task-element {
  display: inline-block;
}

.right{
  text-align: right;  
}

.left{
  text-align: left; 
}

.content ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.content ul li {
  margin: 0 auto 0.5em  auto;
  padding: 0.5em;
  width: 96%;
}

.editBtns {
  display: inline-block;
}

.editBtns button {
  border: none;
  background: none;
  color: red;
  margin-left: 0.2em;
  padding: 0;
}

.nav li {
  display: inline-block;
  margin-right: .5em;
}

.nav li a {
  display: inline-block;
  padding: 0;
}

.play {
  text-align: center;
}

.play h3 {
  margin-bottom: .5em;
}

.play button {
  font-size: 1.4em;
  line-height: 1.6em;
  margin-right: .2em;
  width: 40%;
  box-sizing: border-box;
}

.play button:active {
  background-color: #999;
  border: none;
}

.play li {
  margin: .5em 0;
}

.play .task {
  border: 1px solid #D8D8D8;
  border-radius: 5px;
}

.play .task-current {
  border: 1px solid #333;
}

.play .task-desc {
  font-weight: 200;
}

.play .time-remaining {
  font-size: 1.4em;
  margin-bottom: 0;
}

.play .task-time {
  font-weight: bold;
}

.play .total-time {
  color: #888;
  font-size: 1em;
  margin-bottom: 0;
}

.play .curr-total-time {
  font-size: 1.6em;
  font-weight: bold;
}

.curr-task-description {
  margin: 0 0 1em 0;
}

.project {
  text-align: center;
}

.createProject {
  text-align: center;
}

.createProjectHeader.form-group {
  margin-top: 1em;
  margin-bottom: 0;
}

.add-task-btn {
  margin-top: -0.5em;
}

.taskListHeader li {
  display: inline-block;
}

.task-holder li {
  border-radius: 5px;
  border: 1px solid #888;
}

.list-group.project-container {
  margin-bottom: 0.5em;  
}

.duration {
  display: inline;
  text-align: right;
  width: 3em;
}

.duration-colon {
  margin: 0 0.25em;
}

.formatted-duration {
  margin-left: 0.5em;
}

.form-control {
  height: 32px;
}
