
<head>
  <!-- include meta -->
  <title>Timer Queue</title>
  <% 
    var DEV = process.env.DEV;
    <link rel="stylesheet" href="/vendor/bootstrap.min.css" />
    if (DEV) {
      <link rel="stylesheet" href="/css/style.css" />
    } else {
      <link rel="stylesheet" href="/css/style.min.css" />
    }
  %>
</head>