head
    include meta
    title Timer Queue
    script(type="text/javascript" src="vendor/jquery-1.11.1.min.js")
    link(rel="stylesheet" href="/vendor/bootstrap.min.css")
    link(rel="stylesheet" href="/style.css")