script(src="vendor/browser-polyfill.js")
if DEV
  script(type="text/javascript" src="bower_components/react/react-with-addons.js")
  script(type="text/javascript" src="vendor/react-router.js")
else
  script(type="text/javascript" src="bower_components/react/react-with-addons.min.js")
  script(type="text/javascript" src="vendor/react-router.min.js")

if DEV
  script(type="text/javascript" src="http://localhost:3001/js/App.js")
else
  script(type="text/javascript" src="/js/App.js")
if DEV 
  script(src="http://localhost:3001/webpack-dev-server.js")
