html {
  font-size: 62.5%;
}

body {
  font-size: 1.4em;
  margin: 0;
  padding: 1em;
}

p {
  margin: .5em 0;
}

h3 {
  margin: .5em 0 .25em 0;
}

h4 {
  margin: .5em 0;
}

button {
  margin: 0;
}

.content ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.nav li {
  display: inline-block;
  margin-right: .5em;
}

.nav li a {
  display: inline-block;
  padding: 0;
}

.play {
  text-align: center;
}

.play h3 {
  margin-bottom: .5em;
}

.play button {
  font-size: 1.4em;
  line-height: 1.6em;
  margin-right: .2em;
  width: 40%;
  box-sizing: border-box;
}

.play button:active {
  background-color: #999;
  border: none;
}

.play li {
  margin: .5em 0;
}

.project {
  text-align: center;
}

.play .task {
  border: 1px solid #D8D8D8;
  border-radius: 5px;
}

.play .task-current {
  border: 1px solid #333;
}

.play .task-desc {
  font-weight: 200;
}

.play .time-remaining {
  font-size: 1.4em;
}

.play .task-time {
  font-weight: bold;
}

.play .total-time {
  font-size: 1.6em;
  font-weight: bold;
}

.taskListHeader li {
  display: inline-block;
}