html {
  font-size: 62.5%;
}

body {
  font-size: 1.4em;
  margin: 0;
  padding: 1em;
}

p {
  margin: .5em 0;
}

h3 {
  margin: .5em 0 .25em 0;
}

h4 {
  margin: .5em 0;
}

button {
  margin: 0;
}

.content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav>li {
  display: inline-block;
  margin-right: .5em;
}

.nav>li>a {
  display: inline-block;
  padding: 0;
}

.play {
  padding-top: .5em;
}

.play li {
  margin: .5em 0;
}
