html {
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
  margin: 0;
  padding: 1em;
}

.content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.nav {
  margin-bottom: 2em;
}

.nav li {
  display: inline-block;
  margin-right: .5em;
}

.play li {
  margin-bottom: .5em;
}
